.signup-container {
  background-color: #eed0d0;
  margin: 3rem auto;
  padding: 1rem;
  width: 45%;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.signup-container form label {
  width: 65%;
  padding: 0.5rem;
  font-size: clamp(0.5rem, 1vw, 20px);
}

.signup-container form input {
  width: 100%;
}

.signup-container button {
  width: 50%;
  margin-top: 1rem;
  border-radius: 10px;
}
